body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(30, 30, 30, 1);
  color: white;
}
/* ===================================== header ===================================== */
.header {
  background: rgba(49, 48, 48, 1);
  width: 100%;
  height: 5%;
  padding: 5px 15px;
  box-sizing: border-box;
}
.header-container-module-name {
  display: inline-flex;
  background: rgba(0, 0, 0, 0.57);
  font-family: "Gill Sans MT";
  font-size: 20px;
  border-radius: 5px;
  padding: 0px 15px;
  height: 100%;
  width: auto;
  color: rgba(213, 195, 57, 1);
  align-items: center;
}
.header-container-text {
  display: inline-flex;
  font-family: "Trebuchet MS";
  font-size: 20px;
  padding: 0px 40px;
  height: 100%;
  width: 20%;
  align-items: center;
}
/* ================================== Full display ================================== */
.full-display {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  height: 100vh; /* Make the container take up the full height of the viewport */
  font-size: 72px;
}

/* ====================================== main ====================================== */
.mains-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.current-action-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.row-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  gap: 0px;
}
.columns-container {
  display: flex;
  padding: 15px 15px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0px;
}
.nested-columns-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
/* ================================= Shared Elements ================================ */
.gap {
  width: 20px;
  height: 10px;
}
.subinfo-horizontal-line {
  border-bottom: 1px solid grey;
  width: 100%;
  margin: 3px 0px;
}
.vertical-line {
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: 0px 3px;
}
.main-message {
  display: inline-flex;
  box-sizing: border-box;
  font-family: "Segoe UI";
  font-size: 20px;
  border-radius: 12px;
  padding: 20px 15px;
  width: 100%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 30px;
  transition: background 0.5s;
  background: rgba(125, 125, 125, 0.32);
}

.main-message.toggled {
  background: rgba(125, 125, 125, 0.32);
}

.subcontent-container {
  display: inline-flex;
  background: rgba(125, 125, 125, 0.32);
  box-sizing: border-box;
  font-family: "Segoe UI";
  font-size: 20px;
  border-radius: 12px;
  padding: 20px 15px;
  width: 100%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 30px;
  transition: box-shadow 0.5s ease;
}
.subcontent-container.selected {
  background: rgba(170, 253, 214, 0.3);
  outline: 3px solid #ccc;
  box-shadow: 0 0 25px #fdfd68cc;
}

.subcontent-title {
  display: inline-flex;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  flex-direction: column;
  align-items: left;
}
.subcontent-row-container {
  display: inline-flex;
  width: 100%; /* Make sure it takes full width */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
  overflow: auto;
}
.subcontent-subcontent-container {
  font-family: "Segoe UI";
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 0px;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
}
.subcontent-subcontent-container div:first-child {
  font-weight: bold;
  font-style: italic;
}
.subcontent-info-container {
  display: inline-flex;
  background: rgba(125, 125, 125, 0.32);
  font-family: "Segoe UI";
  font-size: 16px;
  border-radius: 8px;
  padding: 2px 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subcontent-info-same-row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.subcontent-info-box {
  display: inline-flex;
  background: rgba(125, 125, 125, 0.32);
  font-family: "Segoe UI";
  font-size: 16px;
  border-radius: 8px;
  width: fit-content;
  padding: 2px 20px;
  flex-direction: row;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
.subcontent-subinfo-container {
  display: inline-flex;
  font-family: "Segoe UI";
  font-size: 16px;
  border-radius: 8px;
  padding: 2px 3px;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}
.input-box {
  width: 40px; /* You can adjust this value to the desired size */
  height: auto; /* Ensure this is equal to the width */
  padding: 5px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
  border: 1px solid #ccc; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
  font-size: 16px; /* Optional: Adjust the font size */
}

/* ====================================== CCTV ====================================== */
.video-feed-container {
  width: 100%;  /* Full width of the container */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  overflow: hidden; /* Hides anything outside the container bounds */
}

.video-feed-container img {
  max-width: 100%; /* Prevents the image from exceeding the width of the container */
  height: auto; /* Keeps the image's original aspect ratio */
}


/* ================================ Operation Control =============================== */
.buttons-container {
  display: inline-flex;
  font-family: "Segoe UI";
  font-size: 20px;
  border-radius: 8px;
  padding: 3px 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.button,
.subcontent-info-text {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 8px;
  width: 100%;
  background-color: rgba(0, 188, 190, 1);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "Lucida Console";
  font-size: 18px;
  transition: background-color 0.2s ease;
}
.button:not([disabled]):hover {
  background-color: rgba(255, 157, 0, 1);
}
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.subcontent-info-text {
  background: rgba(125, 125, 125, 0.32);
  /* font-family: "Segoe UI"; */
  font-size: 18px; 
  color: white; /* Text color to align with button style */
  /* border: 1px solid #ccc; */
  cursor: default;
}


/* =================================== Input Box =================================== */
.input-box {
  height: auto; /* Adjust based on content and padding */
  padding: 8px 20px; /* Same padding as the buttons */
  border-radius: 8px; /* Same border-radius as the buttons */
  border: none; /* If the buttons have no border */
  background-color: white; /* Matching button color */
  color: black; /* Matching button text color */
  font-size: 18px; /* Same font size as the buttons */
  margin: 5px; /* Same margin as the buttons */
  width: 100%; /* To fill the container or match button width */
  box-sizing: border-box; /* Includes padding and border in width */
  cursor: pointer; /* To indicate interactivity */
  outline: none; /* Optional: removes the outline to match button style */
}

/* =================================== Debug Mode =================================== */
.debug-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.debug-container.hidden {
  display: none;
}

/* ====================================== Alert ===================================== */
.custom-alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  color: #000000;
  padding: 10px 20px;
  border: 10px solid #004ab9;
  border-radius: 10px;
  display: none;
  z-index: 5000;
}

/* ====================================== Servos & Sensors Icons ===================================== */
.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.gear,
.circle {
  width: 75px; /* Set a fixed width */
  height: 75px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Adjust margin as needed */
  position: relative; /* Needed for absolute positioning of text */
  border-radius: 50%; /* Makes the gear background a circle */
}

.gear i.fas {
  font-size: 75px; /* Adjust font size to scale the icon correctly */
  color: #fff; /* Set color to white or any desired color */
}

.gear span,
.circle span {
  position: absolute; /* Absolute position to overlay on the center */
  width: 100%;
  text-align: center;
  font-size: 15px; /* Adjust font size as needed */
  color: #fff; /* Ensure text color is visible against the background */
}

.circle {
  background-color: #ccc; /* Light gray background or any preferred color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds depth */
}

.gear {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds depth */
}


.gear.red .fas,
.circle.red .fas {
  color: red;
}

.gear.green .fas,
.circle.green .fas {
  color: rgb(11, 219, 11);
}

.gear.grey .fas,
.circle.grey .fas {
  color: grey;
}

.gear.black .fas,
.circle.black .fas {
  color: black;
}


.circle.red {
  background-color: red;
}


.circle.green {
  background-color: rgb(11, 219, 11);
}


.circle.grey {
  background-color: grey;
}


.circle.black {
  background-color: black;
}


