/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
.control-1A-1C {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.button-group button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}



.status-panel {
  margin-top: 20px;
  position: relative; /* Needed for absolute positioning of Mode and SW */
}

.status-mode-description, .status-servos-description, .status-sensors-description {
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 60px;
}

.status-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin:  5px;
  vertical-align: middle;
}

.gear-icon {
  font-size: 15px; /* Set the size of the gear icons */
  color: black; /* Set the color of the gear icons */
  margin: 5px auto; /* Center the icons and add some space around them */
  margin:  5px;
}

/* Styles for each status */
.gear-icon.normal { color: #00ff00; } /* Green for normal */
.gear-icon.overload { color: #ff0000; } /* Red for overload */
.gear-icon.not-init { color: #000000; } /* Purple for not init */


.status-square {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin:  5px;
  vertical-align: middle;
}


/* Color classes */
.green { background-color: #00ff00; }
.blue { background-color: #0000ff; }
.grey { background-color: #808080; }
.black { background-color: #000000; }
.yellow { background-color: #ffff00; }
.orange { background-color: #ffa500; }
.red { background-color: #ff0000; }
.purple { background-color: #800080; }

.table-container {
    margin: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none; /* No border around the table */
}

th, td {
    padding: 8px;
    text-align: center;
    border: none; /* No borders around each cell */
}

.mode-cell::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}



.load-sensor-cell::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 0; /* Make it a square */
}
.unload-sensor-cell::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 0; /* Make it a square */
}

.buffer-sensor-cell::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 0; /* Make it a square */
}

.cage-selection,
.action-selection {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
  font-weight: bold;
  text-align: left;
}

.cage-selection .cage-checkboxes,
.action-selection .action-checkboxes {
    margin-top: 5px;
}



.action-selection .action-checkboxes {
    text-align: left; /* Aligns the content of the action checkboxes to the left */
}

/* Style for the Execute button */
#execute-action {
  padding: 10px 20px;
  margin-top: 10px; /* Add space above the button, adjust as needed */
  cursor: pointer; /* Changes the cursor on hover to indicate it's clickable */
  background-color: #007bff; /* Example button color, change as needed */
  color: white; /* Text color */
  border: none; /* Removes the default border */
  border-radius: 5px; /* Optional: rounds the corners of the button */
  font-size: 1em; /* Matches the font size to the rest of the form */
}

/* Hover effect for the button */
#execute-action:hover {
  background-color: #0056b3; /* Darker shade when hovered for visual feedback */
}


/* Active state for the button - when it is being clicked */
#execute-action:active {
  background-color: #3399ff; /* Even darker shade for the click effect */
}
  



.indicator-pnp::before {
  background-color: #00ff00; /* Green */
}
.indicator-idle::before {
  background-color: #808080; /* Red */
}
.indicator-dummy::before {
  background-color: #0000ff; /* Blue */
}

.indicator-offline::before {
  background-color: #000000; /* Blue */
}


.indicator-sensor::before {
  background-color: #00ff00; /* Green */
}
