[Unit]
Description=BigSis Cage System
After=network.target
Wants=time-sync.target

[Service]
ExecStartPre=sudo systemctl restart systemd-timesyncd
ExecStart=nice /usr/bin/python3 /home/linaro/Computer/main.py --user
WorkingDirectory=/home/linaro/Computer
Restart=always
User=linaro
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target