[Unit]
Description=BigSis Cage System
After=network.target
Wants=time-sync.target

[Service]
ExecStart=nice /usr/bin/python3 /home/rock/Computer/main.py --user
WorkingDirectory=/home/rock/Computer
Restart=always
User=rock
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target